.animeCardRow {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(max(100px, 100% / 7), 1fr));

  justify-items: stretch;

  gap: 20px;
}

.rowTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.rowTitle h4 {
  color: #c2c5cf;
  font-weight: bold;
  font-size: 0.9rem;
}
.rowTitle h5 {
  color: #7c6fe0;
}
.rowWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .recomendationRow {
    grid-template-columns: repeat(6, 30%);
    overflow: scroll;
    overflow-y: hidden;
  }
}
